body {
  margin: 0;
  padding: 0;
  background: url("https://firebasestorage.googleapis.com/v0/b/hwanghsin-site.appspot.com/o/boulder.JPG?alt=media&token=c9e8b61c-57a3-478f-878e-a12702bc10e0")
    no-repeat center center fixed;
  background-size: cover;
}
.disappear {
  display: none;
}
.pointer {
  cursor: pointer;
}
::-webkit-scrollbar {
  display: none;
}
.loading {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #13bf98;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.white-font {
  color: #fff;
}
.white-font:hover {
  color: #bbb;
}
.white-background {
  background-color: #fff;
}
.main-content,
.blog-content,
.blog-side {
  margin: 56px auto 0;
  overflow-y: auto;
}
