body {
    margin: 0;
    padding: 0;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
  
  ::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  
  .pointer {
    cursor: pointer;
  }
  
  .text-center {
    text-align: center;
  }
  
  .position-relative {
    position: relative !important;
  }
  
  .position-absolute {
    position: absolute !important;
  }
  
  .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .justify-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .justify-center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .rounded {
    border-radius: 15px;
  }
  
  .height-full {
    height: 100vh;
  }
  
  .loading {
    width: 50px;
    height: 50px;
    border: 15px solid #eee;
    border-radius: 50%;
    border-top: 15px solid #ccc;
    z-index: 1;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  